<!DOCTYPE html>

<aside id="Sidebar">
  <label>
      <img src="/src/assets/icons/PigIcon.svg" />
      <h2>Controle Financeiro</h2>
  </label>
  <ul class="button-list">
      <li>
          <a href="/src/pages/dashboard/index.html">
              <button id="resumoBtn" class="menu-btn">
                  <img src="/src/assets/icons/Square.svg" />Resumo
              </button>
          </a>
      </li>
      <li>
          <a href="/src/pages/transacoes/index.html">
              <button id="transacoesBtn" class="menu-btn">
                  <img src="/src/assets/icons/Swap.svg" />Transações
              </button>
          </a>
      </li>
      <li>
          <a href="/src/pages/metas/index.html">
              <button id="metasBtn" class="menu-btn">
                  <img src="/src/assets/icons/Flag.svg" />Metas
              </button>
          </a>
      </li>
  </ul>
  <a href="logout.html">
      <button class="exit-button">Sair</button>
  </a>
</aside>