<!DOCTYPE html>

<button class="menu" onclick="openNav()">
    <img src="/src/assets/icons/Menu.svg"/>
</button>
<aside id="Sidebar">
    <label>
        <img src="/src/assets/icons/PigIcon.svg" alt="App logo"/>
        <h3>Controle Financeiro</h3>
    </label>
    <div class="h-divider"></div>
    <ul class="button-list">
        <li>
            <a href="/src/pages/dashboard">
                <button id="resumoBtn" class="menu-btn">
                    <div class="sidebar__icon-wrapper">
                        <img src="/src/assets/icons/Square.svg" width="18px" height="18px"/>
                    </div>
                    Resumo
                </button>
            </a>
        </li>
        <li>
            <a href="/src/pages/transacoes">
                <button id="transacoesBtn" class="menu-btn">
                    <div class="sidebar__icon-wrapper">
                        <img src="/src/assets/icons/Swap.svg" width="24px" height="24px"/>
                    </div>
                    Transações
                </button>
            </a>
        </li>
        <li>
            <a href="/src/pages/metas">
                <button id="metasBtn" class="menu-btn">
                    <div class="sidebar__icon-wrapper">
                        <img src="/src/assets/icons/Flag.svg" width="24px" height="24px"/>
                    </div>
                    Metas
                </button>
            </a>
        </li>
    </ul>
</aside>

