* {
  box-sizing: border-box;
}

html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Estilo do corpo da pagina */
body {
  padding: 10px;
  background-color: #e9ecef;
  font-family: "Open Sans", sans-serif;
  display: flex;
}

/* Estilos para o conteúdo principal */
main {
  flex: 1;
  padding: 20px;
  background-color: #ffff;
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.09) 1rem 1rem 4px);
}

main header {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main header .menu {
  display: none;
}

/* Estilos para a barra lateral */
aside {
  width: 250px;
  margin-right: 20px;
  color: #ffff;
  background: linear-gradient(#42424a, #191919);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

aside label {
  gap: 10px;
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

.invert-x {
    transform: scaleX(-1);
}

.h-divider {
  width: calc(100% + 20px);
  margin-left: -10px;
  border-bottom: 1px solid #ccc;
  opacity: 0.5;
}

/* Estilos para a lista de botões */
.button-list {
  list-style-type: none;
  padding: 0;
}

.button-list li {
  margin-bottom: 5px;
}

.sidebar__icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__logout-a {
  margin-top: auto;
}

.button-list li button {
  width: 100%;
  padding: 10px;
  gap: 5px;
  border: none;
  background-color: #08080800;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-list li button:hover {
  background-color: #08080850;
}

/* Estilos específicos para o botão Selecionado */
.button-list .green-button {
  background-color: #4caf50;
  color: #fff;
}

.button-list .green-button:hover {
  background-color: #388e3c;
}

.exit-button {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.exit-button:hover {
  background-color: #bd2130;
}

/* Estilos para telas menores (mobile) */
@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    display: none;
    z-index: 1;
  }

  main {
    flex: 1; /* Expandindo o conteúdo principal para ocupar todo o espaço disponível :D */
  }

  main header .menu {
    display: flex;
    border: none;
    background-color: #ffffff00;
  }
}

.hidden {
  display: none;
}

.transacao-button {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-right: 10px; 
}

.transacao-button.receita {
  background-color: #4CAF50; 
}

.transacao-button.despesa {
  background-color: #F44336; 
}

.transacao-button i {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.transacao-button:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  padding-bottom: 40px; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 20px; 
}

.modal-button.close {
  background-color: #6c757d; 
}

.modal-button.close:hover {
  background-color: #5a6268;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-button.add, .modal-button.confirm, .modal-button.save {
  background-color: #28a745; 
}

.modal-button.add:hover, .modal-button.confirm:hover, .modal-button.save:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


input[type="text"], input[type="number"], input[type="date"], select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
}

:root {
  --primary-color: #E91E63;
  --success-color: #4CAF50;
  --info-color: #03A9F4;
}



.transaction-item {
  display: grid;
  grid-template-columns:  1fr 3fr 1fr 1fr 2fr 1fr;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out; 
}


.transaction-type, .transaction-description, .transaction-value, .transaction-date, .transaction-category {
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction-actions {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
}

.transaction-actions button.edit {
  background-color: #2196F3; 
  color: white;
}

.transaction-actions button.remove {
  background-color: #f44336; 
  color: white;
}

.transaction-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-transform: none; 
}

.transaction-actions button i {
  margin-right: 5px;
}

.transaction-actions button:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.transaction-actions button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255,255,255,0.5);
}


#transactionsList .transaction-item.income {
  background-color: #cefcd9;
}

#transactionsList .transaction-item.expense {
  background-color: #f7ccd0;
}
